name: Node.js Package

on:
  release:
    types: [created]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: "eu-central-1"
  DEFAULT_TABLE: ${{ secrets.DEFAULT_TABLE }}
  SECOND_TABLE: ${{ secrets.SECOND_TABLE }}
  GSI_TABLE: ${{ secrets.GSI_TABLE }}

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/
      - uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}
      - run: npm ci
      - run: npm run build
      - run: npm test
      - run: npm publish --access public
